* {
  margin: 0;
  border: border-box;
  font-family: Arial;
  text-decoration: none;
}

@keyframes slidesp {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 70%;
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translatex(-100px);
    opacity: 0;
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes slideleft {
  from {
    transform: translate(100px);

    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  from {
    transform: translatey(-100px);
    opacity: 0;
  }
  to {
    transform: translatey(0);
    opacity: 1;
  }
}
@keyframes slidebuttom {
  from {
    transform: translatey(100px);
    opacity: 0;
  }
  to {
    transform: translatey(0);
    opacity: 1;
  }
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
}
body {
  background-color: #1f242d;
  background-color: #323946;
  width: 100vw;
  height: 100vh;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #323946;
}
.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  border-radius: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navOptions {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  color: #fff;
  border: 1px solid transparent;
  opacity: 0;
  animation: slideTop 1s ease 0.3s forwards;
}
.navOptions a:hover,
.navOptions a.active {
  color: #0ef;
}

/*.A:hover,.navOptions A.b {
	border: 1px solide #0ef;
	color: #0ef;

}
.b{
	
}*/
.A {
  color: #fff;
  margin-right: 40px;
  font-size: 1.5rem;
}
.logo {
  margin-left: 40px;
  font-size: 2rem;
  opacity: 0;
  animation: slideleft 1s ease 0.4s forwards;
}
span {
  color: #0ef;
}
.content {
  width: 100%;
  height: 90%;
  color: #fff;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img {
  background-image: url("RutvikImg.jpg");
  background-size: cover;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-right: 70px;
  box-shadow: 0px 0px 40px #0ef;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
  opacity: 0;
  animation: slideleft 1s ease 1s forwards;
}
.intro {
  margin: 20px;
  font-size: 2.5rem;
  opacity: 0;
  animation: slideTop 1s ease 0.7s forwards;
}
.name {
  margin: 20px;
  font-size: 2rem;
  opacity: 0;
  animation: slideRight 1s ease 1s forwards;
}
.js {
  margin: 20px;
  font-size: 1.5rem;
  opacity: 0;
  animation: slideleft 1s ease 1s forwards;
}
.para {
  margin: 20px;
  font-weight: 300;
  opacity: 0;
  animation: slidebuttom 1s ease 1s forwards;
}
.info {
  margin-left: 50px;
}

.ic {
  width: 284px;
  height: 81;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 20px;
  padding: 20px;
  font-size: 1.5rem;
  margin-top: 30px;
  opacity: 0;
  animation: slideleft 1s ease 1s forwards;
}
.i {
  margin-right: 20px;

  margin-left: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid cyan;
  color: #0ef;

  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i:hover {
  background-color: #0ef;

  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn {
  margin-top: 40px;
  display: inline-block;
  padding: 12px 28px;
  background-color: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  font-weight: 600;
  opacity: 0;
  animation: slidebuttom 1s ease 0.5s forwards;
}
.btn:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
/*About Section*/
.about1 {
  display: block;
  margin-top: 10px;
}
.ab {
  width: 100%;
  height: 90%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.About {
  width: 100%;
  height: 90%;
  margin-top: 200px;
}
.AboutInfo {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.AboutIntro {
  margin-left: 400px;
  font-size: 4rem;
  color: #fff;
  opacity: 0;
  animation: slideTop 1s ease 0.5s forwards;
}
.img1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url("RutvikImg.jpg");
  background-size: cover;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
  opacity: 0;
  animation: slideleft 1s ease 1s forwards;
}
.AboutPara p {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  opacity: 0;
  animation: slidebuttom 1s ease 0.7s forwards;
}
/*Project section*/
.project {
  width: 100%;
  height: 100%;
  margin-top: 70px;
}
.projects {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}
.Tech1 {
  background-image: url("project3.jpeg");
  background-size: contain;
}
.Tech1:hover {
  background-image: none;
}
.Tech2 {
  background-image: url("project3.jpeg");
  background-size: contain;
}
.Tech2:hover {
  background-image: none;
}
.Tech3 {
  background-image: url("project3.jpeg");
  background-size: contain;
}
.Tech3:hover {
  background-image: none;
}
.Tech4 {
  background-image: url("project3.jpeg");
  background-size: contain;
}
.Tech4:hover {
  background-image: none;
}
.s {
  width: 350px;
  height: 500px;
  background-color: #1f242d;
  border-radius: 20px;
  display: block;
  align-items: center;
  justify-content: center;

  opacity: 0;
  animation: slidebuttom 1s ease 0.7s forwards;
}
.s:hover {
  width: 370px;
  height: 1060px;

  border: 2px solid cya;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.sk {
  margin-left: 600px;
  margin-top: 40px;
  font-size: 4rem;
  color: #0ef;
  opacity: 0;
  animation: slideTop 1s ease 0.5s forwards;
}
.con {
  width: 350px;
  height: 500px;
}
.content1 {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 2rem;
  font-weight: 100;
  color: #0ef;
  opacity: 1;
}
.content2 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
  color: #fff;
  width: 250px;
  opacity: 0;
}
.button1 {
  margin-left: 5em;
  width: 40px;
  height: 40px;
  color: #081b29;
  margin-top: 20px;
  background-color: #0ef;

  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2em;
  border-radius: 40px;
}
.con:hover h3 {
  opacity: 1;
}
.con:hover h5 {
  opacity: 1;
}
.con:hover h3 {
  opacity: 1;
}

/*Contact Section*/
.conTtl {
  margin-top: 150px;
}
.contact {
  width: 100%;
  height: 90%;
  margin-top: 100px;
}
.contact1 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conForm {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  width: 605px;
  height: 510px;
  background-color: #1f242d;
  border-radius: 10px;
}
.conTtl {
  margin-top: 150px;
  margin-left: 600px;
  font-size: 2.5rem;
  color: #fff;
  opacity: 0;
  animation: slideTop 1s ease 0.5s forwards;
}

/*.heading{
	font-size: 3rem;
	opacity: 0;
	animation: slideTop 1s ease 0.5s forwards;

}
.contact{
	width: 600px;
	height: 600px;
}*/
.main {
  display: flex;
  margin-top: 80px;
}
.main2 {
  width: 600px;
  height: 300px;
  font-size: 1rem;
}
.input-box input {
  width: 600px;
  height: 60px;
  margin-top: 20px;
  background: #555557;
  color: #000;
  font-size: 1rem;
  border-radius: 10px;
  opacity: 0;
  animation: slideRight 1s ease 0.5s forwards;
}
.area {
  width: 600px;
  height: 100px;
  background: #555557;
  color: #000;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 20px;
  opacity: 0;
  animation: slideRight 1s ease 0.5s forwards;
}
.btn {
  width: 600px;
  height: 60px;
  margin-top: 5px;

  font-size: 1rem;
  border-radius: 10px;
  opacity: 0;
  animation: slideRight 1s ease 0.5s forwards;
}
/*skills Section*/
.skills {
  margin-top: 200px;
  width: 100%;
  height: 90%;
  padding-top: 20px;
}
.skill {
  color: #fff;
  margin-top: 20px;
}
.skillText {
  margin-top: 70px;
  margin-left: 500px;
  font-size: 3rem;
  opacity: 0;
  animation: slideTop 1s ease 0.5s forwards;
}
.ttl {
  font-size: 1.5rem;
  width: 600px;
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  margin-left: 20px;
  opacity: 0;
  animation: slideleft 1s ease 0.7s forwards;
}
.ttldiv {
  display: flex;
  margin-top: 10px;
}
.ttlText {
  margin-right: 20px;
  margin-left: 20px;
}
.ttlIcon {
  font-size: 2rem;
  margin-left: 10px;
  color: #0ef;
}
.comBar {
  width: 600px;
  height: 20px;
  border: 2px solid #0ef;
  border-radius: 0.6rem;
  margin-top: 10px;
  margin-left: 40px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: start;
}
.comBar span {
  width: 90%;
  height: 18px;
  display: block;
  background: #0ef;
  border-radius: 0.6rem;
  opacity: 0;
  animation: slidesp 1s ease 0.5s forwards;
}
.Skil {
  display: flex;
  justify-content: space-between;
}
.communication {
  width: 200px;
  height: 200px;
  border: 20px solid transparent;
  border-radius: 50%;
  background-color: #323946;
}
.skillname {
  margin-right: 20px;
  font-size: 2rem;
  opacity: 0;
  animation: slideRight 1s ease 0.8s forwards;
}

.main {
  display: flex;
  margin-top: 50px;
}
.main2 {
  margin-top: 80px;
  margin-left: 30px;
  font-size: 1.5rem;
  color: black;
  opacity: 0;
  animation: slideTop 1s ease 0.5s forwards;
}

.y {
  width: 100px;
  height: 100px;
  /*background:#1f242d;*/
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 2rem solide blue;
  opacity: 0;
  animation: slideRight 1s ease 0.5s forwards;
}
.ul {
  opacity: 0;
  animation: slideRight 1s ease 0.5s forwards;

  font-size: 1.5rem;
  margin: 20px;
}
li {
  font-size: 1.2rem;
  margin: 10px;
}
.li2 {
  font-size: 1.2rem;
  margin-left: 40px;
  width: 500px;
}

@media (max-width: 1200px) {
}
@media (max-width: 991px) {
  .header {
    padding: 10rem 3% 2rem;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .main {
    padding: 10rem 3% 2rem;
  }
}
@media (max-width: 768px) {
    html,body{
        overflow-x: hidden;
    }
  .navOptions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 38%;

    background: #323946;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  .navOptions a {
    display: block;
    font-size: 1rem;
  }
  .content {
    margin: 0;
    margin-left: 0;
    padding: 0;
    display: block;
  }
  .Home {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
  }
  .info {
    margin-left: 0;
    height: 50%;
  }
  .newImg {
    width: 100px;
    height: 50px;
  }
  .img {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    margin-left: 80px;
    margin-top: 35px;
  }
  .btn {
    width: 60%;
    height: 8%;
    margin-left: 70px;
    text-align: center;
  }
  .about1 {
    margin: 0;
    padding: 30px;
  }
  .About {
    margin-left: 0;
    margin-top: 0;
  }
  .AboutIntro {
    margin: 0;
  }
  .AboutInfo {
    margin-left: 0;
  }
  .AboutPara p {
    width: 400px;
  }
  .skills {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .skillText {
    margin: 0;
    padding: 0;
    margin-left: 70px;
  }
  .Skil {
    display: block;
  }
  .techSkill {
    margin-top: 20px;
    background: #0000005b;
    padding-top: 10px;
    border-radius: 30px;
  }

  .skillname {
    margin-left: 20px;
  }
  .li2 {
    width: 350px;
  }
  .proSkill {
    background: #0000005b;
    margin-top: 20px;
    border-radius: 30px;
    padding-top: 10px;
  }
  .Projects {
    margin: 0;
    height: 100%;
    width: 100%;
    margin-top: 100px;
  }
  


 .s{
	width: 350px;
	height: 500px;
	background-color: #1f242d;
	border-radius: 20px;
	display: block;
	align-items: center;
	justify-content: center;
	 cursor: pointer;
	opacity: 0;
	animation: slidebuttom 1s ease .7s forwards;
}
.s:hover{
	
	width: 370px;
	height: 1060px;

	border: 2px solid cya;
	box-shadow: 0 0 5px cyan,0 0 25px cyan
	,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;

}




  .Contacts {
    margin: 0;
    padding: 0;
    margin-top: 1500px;
}


.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

  .sk {
    margin: 0;
    margin-left: 70px;
    margin-top: 300px;
  }
  .project {
    margin-top: 20px;
  }
  .projects {
    margin: 0;
    display: block;
    margin-left: 10px;
  }
  
  .contact {
    margin-top: 70px;
  }
  .conTtl {
    margin: 0;

    margin-left: 50px;
  }
  .contact1 {
    display: block;
  }
  .conForm {
    margin: 0;
    width: 480px;
  }
}

@media (max-width: 721px) {
    html,body{
        overflow-x: hidden;
    }
  .navOptions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 34%;

    background: #323946;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  .navOptions a {
    display: block;
    font-size: 0.7rem;
  }
  .content {
    margin: 0;
    margin-left: 0;
    padding: 0;
    display: block;
  }
  .Home {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
  }
  .info {
    margin-left: 0;
    height: 30%;
  }
  .newImg {
    width: 100px;
    height: 50px;
  }
  .img {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    margin-left: 80px;
    margin-top: 250px;
  }
  .btn {
    width: 60%;
    height: 8%;
    margin-left: 70px;
    text-align: center;
  }
  .about1 {
    margin: 0;
    padding: 30px;
  }
  .About {
    margin-left: 0;
    margin-top: 0;
  }
  .AboutIntro {
    margin: 0;
  }
  .AboutInfo {
    margin-left: 0;
  }
  .AboutPara p {
    width: 340px;
  }
  .skills {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top:30px;
  }
  .skillText {
    margin: 0;
    padding: 0;
    margin-left: 70px;
  }
  .Skil {
    display: block;
  }
  .techSkill {
    margin-top: 20px;
    background: #0000005b;
    padding-top: 10px;
    border-radius: 30px;
  }

  .skillname {
    margin-left: 20px;
  }
  .li2 {
    width: 300px;
  }
  .proSkill {
    background: #0000005b;
    margin-top: 20px;
    border-radius: 30px;
    padding-top: 10px;
  }
  .Projects {
    margin: 0;
    height: 100%;
    width: 100%;
    margin-top: 250px;
  }
  


 .s{
	width: 350px;
	height: 500px;
	background-color: #1f242d;
	border-radius: 20px;
	display: block;
	align-items: center;
	justify-content: center;
	 cursor: pointer;
	opacity: 0;
	animation: slidebuttom 1s ease .7s forwards;
}
.s:hover{
	
	width: 370px;
	height: 1060px;

	border: 2px solid cya;
	box-shadow: 0 0 5px cyan,0 0 25px cyan
	,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;

}




  .Contacts {
    margin: 0;
    padding: 0;
    margin-top: 1800px;
}


.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

  .sk {
    margin: 0;
    margin-left: 70px;
    margin-top: 280px;
  }
  .project {
    margin-top: 20px;
  }
  .projects {
    margin: 0;
    display: block;
    margin-left: 10px;
  }
  
  .contact {
    margin-top: 70px;
  }
  .conTtl {
    margin: 0;

    margin-left: 50px;
  }
  .contact1 {
    display: block;
  }
  .conForm {
    margin: 0;
    width: 350px;
  }
